jobhuntingbot.json
{

  "name": "Job Hunting Bot (Fixed Loop)",

  "nodes": [

    {

      "parameters": {

        "rule": {

          "interval": [

            { "triggerAtHour": 17 }

          ]

        }

      },

      "type": "n8n-nodes-base.scheduleTrigger",

      "typeVersion": 1.3,

      "position": [-464, -32],

      "id": "schedule-trigger",

      "name": "Schedule Trigger"

    },

    {

      "parameters": {

        "operation": "download",

        "fileId": {

          "__rl": true,

          "value": "GOOGLE_DRIVE_FILE_URL",

          "mode": "url"

        }

      },

      "type": "n8n-nodes-base.googleDrive",

      "typeVersion": 3,

      "position": [-256, -32],

      "id": "download-file",

      "name": "Download Resume"

    },

    {

      "parameters": {

        "operation": "pdf"

      },

      "type": "n8n-nodes-base.extractFromFile",

      "typeVersion": 1.1,

      "position": [-64, -32],

      "id": "extract-pdf",

      "name": "Extract Resume Text"

    },

    {

      "parameters": {

        "documentId": {

          "__rl": true,

          "value": "GOOGLE_SHEET_ID",

          "mode": "list"

        },

        "sheetName": {

          "__rl": true,

          "value": "FILTER_SHEET_NAME",

          "mode": "list"

        }

      },

      "type": "n8n-nodes-base.googleSheets",

      "typeVersion": 4.7,

      "position": [112, -32],

      "id": "get-filters",

      "name": "Get Filters"

    },

    {

      "parameters": {

        "jsCode": "let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\";\n\nconst keyword = $input.first().json.KEYWORD;\nconst location = $input.first().json.LOCATION;\nconst experienceLevel = $input.first().json['EXPERIENCE LEVEL'];\nconst remote = $input.first().json.REMOTE;\nconst jobType = $input.first().json['JOB TYPE'];\n\nif (keyword) url += `&keywords=${keyword}`;\nif (location) url += `&location=${location}`;\n\nif (experienceLevel) {\n  const map = { Internship: \"1\", \"Entry level\": \"2\" };\n  const levels = experienceLevel.split(',').map(e => map[e.trim()]).filter(Boolean);\n  if (levels.length) url += `&f_E=${levels.join(',')}`;\n}\n\nif (remote) {\n  const map = { Remote: \"2\", Hybrid: \"3\", \"On-site\": \"1\" };\n  const types = remote.split(',').map(r => map[r.trim()]).filter(Boolean);\n  if (types.length) url += `&f_WT=${types.join(',')}`;\n}\n\nif (jobType) {\n  const types = jobType.split(',').map(j => j.trim().charAt(0).toUpperCase());\n  if (types.length) url += `&f_JT=${types.join(',')}`;\n}\n\nurl += \"&f_EA=true\";\nreturn { url };"

      },

      "type": "n8n-nodes-base.code",

      "typeVersion": 2,

      "position": [272, -32],

      "id": "build-linkedin-url",

      "name": "Build LinkedIn URL"

    },

    {

      "parameters": {

        "method": "POST",

        "url": "https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items?token=APIFY_API_TOKEN",

        "sendBody": true,

        "specifyBody": "json",

        "jsonBody": "{\n  \"count\": 100,\n  \"scrapeCompany\": true,\n  \"urls\": [\"{{ $json.url }}\"]\n}"

      },

      "type": "n8n-nodes-base.httpRequest",

      "typeVersion": 4.3,

      "position": [480, -32],

      "id": "apify-request",

      "name": "Fetch Jobs (Apify)"

    },

    {

      "parameters": {

        "batchSize": 1

      },

      "type": "n8n-nodes-base.splitInBatches",

      "typeVersion": 3,

      "position": [704, -32],

      "id": "loop-jobs",

      "name": "Loop Over Jobs"

    },

    {

      "parameters": {

        "amount": 15,

        "unit": "seconds"

      },

      "type": "n8n-nodes-base.wait",

      "typeVersion": 1,

      "position": [896, -32],

      "id": "rate-limit",

      "name": "Rate Limit"

    },

    {

      "parameters": {

        "promptType": "define",

        "text": "You are an assistant that scores job matches.\n\nReturn ONLY JSON:\n{\"score\": 75, \"coverLetter\": \"...\"}\n\nJob:\n{{ $json.descriptionText }}\n\nResume:\n{{ $('Extract Resume Text').item.json.text }}"

      },

      "type": "@n8n/n8n-nodes-langchain.agent",

      "typeVersion": 3,

      "position": [1088, -32],

      "id": "ai-agent",

      "name": "AI Job Matcher"

    },

    {

      "parameters": {

        "mode": "raw",

        "jsonOutput": "={{ $json.output.replaceAll(/```(?:json)?/g, \"\") }}"

      },

      "type": "n8n-nodes-base.set",

      "typeVersion": 3,

      "position": [1280, -32],

      "id": "parse-ai-output",

      "name": "Parse AI Output"

    },

    {

      "parameters": {

        "conditions": {

          "conditions": [

            {

              "id": "cond-1",

              "leftValue": "={{ $json.score }}",

              "rightValue": 40,

              "operator": {

                "type": "number",

                "operation": "gte"

              }

            }

          ]

        }

      },

      "type": "n8n-nodes-base.if",

      "typeVersion": 2,

      "position": [1472, -32],

      "id": "score-filter",

      "name": "Score Filter"

    },

    {

      "parameters": {

        "chatId": "TELEGRAM_CHAT_ID",

        "text": "Title: {{ $json.title }}\nScore: {{ $json.score }}\nApply: {{ $json.link }}"

      },

      "type": "n8n-nodes-base.telegram",

      "typeVersion": 1,

      "position": [1664, -132],

      "id": "telegram-alert",

      "name": "Send Telegram Alert"

    }

  ],

  "connections": {

    "Schedule Trigger": { "main": [[{ "node": "Download Resume", "type": "main", "index": 0 }]] },

    "Download Resume": { "main": [[{ "node": "Extract Resume Text", "type": "main", "index": 0 }]] },

    "Extract Resume Text": { "main": [[{ "node": "Get Filters", "type": "main", "index": 0 }]] },

    "Get Filters": { "main": [[{ "node": "Build LinkedIn URL", "type": "main", "index": 0 }]] },

    "Build LinkedIn URL": { "main": [[{ "node": "Fetch Jobs (Apify)", "type": "main", "index": 0 }]] },

    "Fetch Jobs (Apify)": { "main": [[{ "node": "Loop Over Jobs", "type": "main", "index": 0 }]] },

    "Loop Over Jobs": { "main": [[], [{ "node": "Rate Limit", "type": "main", "index": 0 }]] },

    "Rate Limit": { "main": [[{ "node": "AI Job Matcher", "type": "main", "index": 0 }]] },

    "AI Job Matcher": { "main": [[{ "node": "Parse AI Output", "type": "main", "index": 0 }]] },

    "Parse AI Output": { "main": [[{ "node": "Score Filter", "type": "main", "index": 0 }]] },

    "Score Filter": { 

      "main": [

        [{ "node": "Send Telegram Alert", "type": "main", "index": 0 }], 

        [{ "node": "Loop Over Jobs", "type": "main", "index": 0 }]

      ] 

    },

    "Send Telegram Alert": { "main": [[{ "node": "Loop Over Jobs", "type": "main", "index": 0 }]] }

  },

  "active": false

}
